<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Grupo EspiVa</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item ">
        <a class="nav-link" href="/abogado/admin ">Lista</a>
      </li>
  <li class="nav-item">
      <a class="nav-link disabled " >ABOGADOS</a>
    </li>
    </ul>
  </div>
</nav>


<style>
  .jumbotron {
        background-color:#217DA2;  
          color: #ffffff;
        }
</style>


<div class="jumbotron ">
  <div class="col-md-4 offset-md-4">

  <form [formGroup] = "Abogadosform" >

    <div class = "form-group">
      <label>CEDULA: </label>
      <input type= "text" formControlName = "cedula" class="form-control" >
    </div>
  
    <div class = "form-group col-md-6 ">
        <label>NOMBRE Y APELLIDO: </label>
        <input type= "text" formControlName = "nombre" class="form-control" >
    </div>

    <div class="form-row">
    <div class = "form-group col-md-6">
      <label>DIRECCION: </label>
      <input type= "text" formControlName = "direccion" class="form-control">
  </div>
  <div class = "form-group">
    <label>CELULAR: </label>
    <input type= "tel" formControlName = "celular" class="form-control" >
</div>
    </div> 

  <div class = "form-group">
      <label>EMAIL: </label>
      <input type= "email" formControlName = "email" class="form-control" >
  </div>


  <div class = "form-group">
    <label>PROFESION:</label>
    <select formControlName = "profesion" class="form-control">
      <option selected >TRANSITO</option>
      <option selected >CIVIL</option>
    </select>
  </div>

 
<div>
  <button class="btn btn-light" type= "button" (click)= "addAbogado(Abogadosform.value)"  >GUARDAR</button>
</div> 

</form>
    </div> <!---jumbotron-->



