<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
   

    <!-- Icon -->
    <div class="fadeIn first">
      <h2> ESPIVA GRUPO</h2>
    </div>

    <!-- Login Form -->
    <form style="height: 250px;">
      <input type="text" id="login"  [(ngModel)]="user.apodo" class="fadeIn second" name="login" placeholder="nickname" >
      <input type="text" id="password"  [(ngModel)]="user.contrasenia" class="fadeIn third" name="login" placeholder="password">
     
      <button class="btn btn-primary" style="margin-top: 20px;" (click)="ver()">INICIAR</button>
      <a class="btn btn-danger" style= "margin-left: 20px; margin-top: 20px;"type= "button" href="/">CANCELAR</a>
   
     </form>
    
  </div>
</div>

