
<body>
    

    <style>
        .jumbotron {
        background-color:#217DA2;  
          color: #ffffff;
        }

        .body { 
      background-image: url("https://i.pinimg.com/originals/0d/05/b8/0d05b85945200d058b814d2ab6d80c0e.jpg");
       height: 900px;
            width: 1350px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
      color:black;
        }
    </style>

        <div class="body text-center"style=" height: 700px; ">         
          <nav class="navbar navbar-expand-lg navbar-light .bg-light" >
            <a class="navbar-brand" href="/"><h4>Grupo EspiVa</h4></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                  <a class="nav-link" href="#"><h4><u>Servicios</u></h4></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href= "/abogado"><h4><u>Abogados</u></h4></a>
                </li>
                <a class="btn btn-outline-dark" href="/login" role="button" >LOGIN</a>
            
            </ul>
            </div>
          </nav>
        
            <h1 class="display-1" style=" margin-top: 10%">Grupo EspiVa </h1>
            <h3 class="text-monospace" >Equipo de profesionales que brindan servicios legales  en todas sus áreas a la ciudadania ecuatoriana
            </h3>
        </div>
    </body>


    <div class="mx-auto" style="width: 1000px; height: 350px;">
        <div class=" text-center" >
            <h2 class="display-3" style=" margin-top: 15%">NUESTRO GRUPO</h2>
            <div class=" row justify-content-md-center">
                <div class="col">
                <p class="text-monospace">EspiVa Grupo es un bufete de abogados con sede en Ecuador, con oficinas en ambas grandes ciudades: Ambato y Riobamba. Asesoramos a empresas locales y extranjeras, personas naturales o jurudicas con soluciones efectivas, innovadoras e integradas en amplias áreas del derecho ecuatoriano, combinando la experiencia de nuestros socios y 
                </p>
                </div>
            <div class="col">  
                <p class="text-monospace">asociados con el dinamismo de los abogados más jóvenes y adaptando los equipos de trabajo a las necesidades de cada proyecto. Mantenemos el compromiso, la integridad y la eficiencia como nuestros valores principales en la resolución de los problemas de nuestros clientes
                </p>
                </div>
            </div>
        </div>
    </div>

        
 
     <div class="p-3 mb-2 bg-light text-dark">
     <div class = "mx-auto" style=" width: 1000px; height: 400px;">
        <div class="  text-center">
            <h2 class="display-3" style=" margin-top: 15%" >ÁREAS DE PRÁCTICA</h2>

            <div class="row" >
                <div class="col" >
                    <img src="https://www.cplaw.ec/wp-content/uploads/2019/11/1_corporativo-1.png" class="img-thumbnail">
                     <p> LEY CORPORATIVA </p>
                </div>
                <div class="col"> 
                    <img src="https://www.cplaw.ec/wp-content/uploads/2019/11/4_adquisiciones-1.png" class="img-thumbnail">
                    <p> DERECHO PENAL </p>
                </div>
                <div class="col">
                    <img src="https://www.cplaw.ec/wp-content/uploads/2019/11/2_arbitraje-1.png" class="img-thumbnail">
                    <p> FAMILIAR </p> 
                </div>
                <div class="col">
                    <img src="https://www.cplaw.ec/wp-content/uploads/2019/11/3_bancario-2.png" class="img-thumbnail">
                    <p> DERECHO LABORAL </p>
                </div>
                <div class="col">
                    <img src="https://www.cplaw.ec/wp-content/uploads/2019/11/5_competencia-1.png" class="img-thumbnail">
                    <p> TRANSITO </p>
                </div>
             </div>
        <p class="text-monospace"  > Nuestra práctica se centra principalmente en Derecho Corporativo, Derechos familiares, Delitos, cCodigo Civil y Resolución de Conflictos en todas las áreas del Derecho </p>
        </div>
    </div> 
</div>
  
   

          <div class="jumbotron text-center ">
            <h1>Contactos  EspiVa</h1>

            <div class="row" >
                <div class="col" >
                   <h3>Ambato</h3>
        <p>av. 9 de Octubre 100 Edif. La Previsora Of. 2202</p>
        <p> Guayaquil – Ecuador </p>
        <p>EC090313 T: 593-4-2300600</p>
                </div>
                <div class="col"> 
                    <h3>Riobamba</h3>
        <p>av. 9 de Octubre 100 Edif. La Previsora Of. 2202 </p>
            <p>Guayaquil – Ecuador EC090313 </p>
            <p>T: 593-4-2300600</p>    

                </div>
            </div>

