<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/administrador">Grupo EspiVa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">

    
  <li class="nav-item">
      <a class="nav-link disabled " >USUARIOS</a>
    </li>
    </ul>
  </div>
</nav>


<style>
   .jumbotron {
      background-color:#217DA2;  
        color: #3b2323;
      }
</style>
<div clas= "jumbotron text-center">
<form [formGroup] = "Usuarioform" (ngSubmit) = "addUsuario(Usuarioform.value)">
  <div class="form-row">
    <div class = "form-group col-md-6">
        <label> ABOGADO: </label>
        <input type= "text" formControlName = "nombre_usuario" class="form-control" readonly>
    </div>

    <div class = "form-group col-md-6">
      <label>NICKNAME: </label>
      <input type= "text" formControlName = "apodo" class="form-control">
  </div>

  <div class = "form-group">
    <label>PASSWORD: </label>
    <input type= "text" formControlName = "contrasenia" class="form-control" >
</div>
    </div> 
    <div>
        <button type= "submit" >GUARDAR </button>
    </div>
</form>
</div>