
    <style>
        .jumbotron {
        background-color:#217DA2;  
          color: #ffffff;
        }

        .body { 
      background-image: url("https://i.pinimg.com/originals/0d/05/b8/0d05b85945200d058b814d2ab6d80c0e.jpg");
       height: 900px;
            width: 1350px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
      color:black;
        }

    </style>
        <div class="body text-center"style=" height: 700px; ">         
          <nav class="navbar navbar-expand-lg navbar-light .bg-light" >
            <a class="navbar-brand" href="/administrador">ADMINISTRADOR</a>

            <a class="navbar-brand" href="/"><h4> </h4></a>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                  <a class="nav-link" href="/usuario"><H4>Usuarios</H4></a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="/cita"><H4>Citas</H4></a>
                </li>

  
                  <li class="nav-item ">
                    <a class="nav-link" href="/abogado/listar"><H4>Abogados</H4></a>
                  </li>
              
                  <li class="nav-item ">
                    <a class="nav-link" href="/usuario/agregar"><H4>Agregar </H4></a>
                  </li>
                  
                <li class="nav-item ">
                  <a class="nav-link"(click)="cerrar()"><H4>CERRAR SESION</H4></a>
                </li>
                
              </ul>
                
            </div>
          </nav>
        
            <h1 class="display-1" style=" margin-top: 10%">Grupo EspiVa </h1>
            <h3 class="text-monospace" >Equipo de profesionales que brindan servicios legales  en todas sus áreas a la ciudadania ecuatoriana
            </h3>
        </div>
